<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--支付代理服务器Tcp-->
    <!--支付代理服务器收到http请求后，将请求参数通过tcp推送到客户端-->
    <add key="PayProxyTcp" value="127.0.0.1:7879"/>

    <!--将Http请求参数转发到的目标URL-->
    <!--此URL一般为IIS等本机服务器提供，使用VS等调试工具将源码附加到IIS进程，就可以下断查看http请求参数-->
    <add key="ForwardURL" value="http://localhost:80/paycomplete"/>
  </appSettings>
</configuration>