<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--监听的URL，端口请酌情修改-->
    <add key="LinstenURL" value="http://localhost:8080"/>

    <!--当路径符合正则表达式PathPattern时才转发请求-->
    <add key ="PathPattern" value="paycomplete|paycallback"/>
  </appSettings>
</configuration>