<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--当HttpURL收到Http请求时,将请求参数转发给tcp客户端-->
    <!--通俗讲就是把这个URL对应的外网路径设置为支付宝的支付回调地址-->
    <add key="HttpURL" value="http://localhost:7878/paycomplete"/>

    <!--Tcp服务器监听的端口-->
    <add key="TcpPort" value="7879"/>
  </appSettings>
</configuration>